<div class="row">
  <div class="col">
  </div>
  <div class="col centralizar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light cor-fundo">
      <div class="collapse navbar-collapse centralizar" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" >Início <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listarOnibus" >Ônibus <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listarLotacao">Lotação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/itinerario">Itinerário</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col">
  </div>
</div>