<div class="row">
  <div class="col">
  </div>
  <div class="col centralizar">
    <label class="radio-inline espacamento">
      <input type="radio" name="rota" value="bairroCentro" (click)="setRota ('bairroCentro')" [checked]='true' ngModel> BAIRRO/CENTRO 
    </label>
    <label class="radio-inline">
      <input type="radio" name="rota" value="centroBairro" (click)="setRota ('centroBairro')" > CENTRO/BAIRRO 
    </label>

    <div class="form-group" *ngIf="selecionado ('bairroCentro')">
      <select class="form-control" id="bus" ngModel="idLinha" (change)="onChange($event)">
        <option *ngFor="let onibus of listaBairroCentro" [value]="onibus.id"> {{ onibus.nome }} </option>
      </select>  

      <div *ngIf="selecionaItinerario()">
        <app-itinerario></app-itinerario>
      </div>
    </div>

    <div class="form-group" *ngIf="selecionado ('centroBairro')">
      <select class="form-control" id="bus" ngModel="idLinha" (change)="onChange($event)">
        <option *ngFor="let onibus of listaCentroBairro" [value]="onibus.id"> {{ onibus.nome }} </option>
      </select>  

      <div *ngIf="selecionaItinerario()">
        <app-itinerario></app-itinerario>
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>