<div class="list-group espacamento-cima">
  <div class="list-group-item list-group-item-action active">
    {{ nomeLinha }}
  </div>
  
  <a href="https://www.google.com/maps/?q={{ponto[0]}},{{ponto[1]}}" 
    *ngFor="let ponto of itinerarios" 
    class="list-group-item list-group-item-action"
    target="_blank">
    Ponto  {{ ponto[2] }} 
  </a>
</div>
